<header>
    <div class="container">
        <div class="row align-items-center">
            <div class="img col mt-2">
                <img src="/assets/images/unnamed.png" alt="">
            </div>
            <div class="menu col">
                <div class="row">
                    <svg-icon
                        class="col-lg"   
                        src="/assets/images/19397854501553771531.svg" 
                        [svgStyle]="{ 'width.px':29, 'height.px':29 }"
                        (click)="goToHome()">
                    </svg-icon>
                    <a class="col-lg" 
                        (click)="goToAbout()">{{ "header.ABOUT" | translate }}</a>
                    <a class="col-lg" 
                        (click)="goToAppUse()">{{ "header.APP_USE" | translate }}</a>
                </div>
            </div>
            <div class="leng col ">
                <div class=" float-end">
                    <button 
                        class="lang en m-1 rounded-circle"
                        [class.inactive]="isEn"
                        (click)="en()">
                    </button>
                    <button 
                        class="lang ka m-1 rounded-circle"
                        [class.inactive]="isKa"
                        (click)="ka()">
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>

