
header{
    background-color: rgb(189, 188, 184);
    @import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500&family=Montserrat:wght@500&display=swap');
    font-family: 'Montserrat', sans-serif;

    img {
        height: 50px;
      }

    a{
        text-decoration: none;
        color: rgb(83, 83, 82);
        font-size: 20px;
        text-align: center;
        &:hover{
            color:#09090c;
            font-size: 21px;
            background-color: rgb(211, 211, 211);
            opacity: 0.5;
        }
    }

    .lang{
        border: none;
        outline: none;
        width: 32px;
        height: 32px;

        &.ka{
            background: url("/assets/images/ka.png")
        }

        &.en{
            background: url("/assets/images/en.png");
        }

        &.inactive {
            filter: grayscale(100%);
          }
    }

    svg-icon{
        cursor: pointer;
        padding: 0px;
        text-align: center;
        &:hover{
            background-color: rgb(211, 211, 211);
            opacity: 0.5;
        }
    }
}
