<header>
    <div class="container">
        <div class="row align-items-center">
            <div class="img col mt-2">
                <img src="/assets/images/unnamed.png" alt="">
            </div>
            <div class="menu col">
                <div class="row">
                    <a class="col-lg" href="">Home</a>
                    <a class="col-lg" href="">About</a>
                    <a class="col-lg" href="">App Use</a>
                </div>
            </div>
            <div class="item col"></div>
        </div>
    </div>
</header>

