// header{
//     font-family: 'Montserrat', sans-serif;
//   }
  
//     .lang {
//       border: none;
//       outline: none;
//       width: 32px;
//       height: 32px;
    
//       &.ka {
//         background: url("/assets/images/ka.png");
//       }
    
//       &.en {
//         background: url("/assets/images/en.png");
//       }
    
//       &.inactive {
//         filter: grayscale(100%);
//       }
//     }
header{
    background-color: rgb(189, 188, 184);


    img {
        height: 50px;
      }

    a{
        text-decoration: none;
        color: rgb(59, 59, 58);
        font-size: 20px;
        
    }
    // .menu{
    //     margin-right: 250px;
    // }
}
