<header>
    <div class="container">
        <div class="row align-items-center">
            <div class="img col mt-2">
                <img src="/assets/images/unnamed.png" alt="">
            </div>
            <div class="menu col">
                <div class="row">
                    <a class="col-lg" href="">{{ "header.HOME" | translate }}</a>
                    <a class="col-lg" href="">{{ "header.ABOUT" | translate }}</a>
                    <a class="col-lg" href="">{{ "header.APP_USE" | translate }}</a>
                </div>
            </div>
            <div class="leng col ">
                <div class=" float-end">
                    <button 
                        class="lang en m-1 rounded-circle"
                        [class.inactive]="isEn"
                        (click)="en()">
                    </button>
                    <button 
                        class="lang ka m-1 rounded-circle"
                        [class.inactive]="isKa"
                        (click)="ka()">
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>

