<div class="container">
    <div class="d-flex justify-content-center shadow-lg p-3 mb-5 bg-body rounded">
        <div class="select text-center mt-5">
            <form [formGroup]="form">
                <h3>{{ "main.CHOOSE_YOUR_TYPE" | translate }}</h3>
                <select class="form-select mt-4" 
                        aria-label="Default select example"
                        formControlName="activity">
                    <option [value]="activity.Education">{{ "main.EDUCATION" | translate }}</option>
                    <option [value]="activity.Recreational">{{ "main.RECREATIONAL" | translate }}</option>
                    <option [value]="activity.Social">{{ "main.SOCIAL" | translate }}</option>
                    <option [value]="activity.Diy">{{ "main.DIY" | translate }}</option>
                    <option [value]="activity.Charity">{{ "main.CHARITY" | translate }}</option>
                    <option [value]="activity.Cooking">{{ "main.COOKING" | translate }}</option>
                    <option [value]="activity.Relaxation">{{ "main.RELAXATION" | translate }}</option>
                    <option [value]="activity.Music">{{ "main.MUSIC" | translate }}</option>
                    <option [value]="activity.Busywork">{{ "main.BUSYWORK" | translate }}</option>
                </select>
                <div class="alert alert-danger mt-2" 
                    *ngIf="isSelect">{{ "errors.PLEASE_CHOOSE_YOUR_ACTIVITY" | translate }}</div>
                <div class="btn mt-5">
                    <button class="btn btn-secondary btn-lg" (click)="submit()">click</button>
                </div>
            </form>
        </div>
    </div>

    <ng-container *ngIf="apiview">
        <div class="d-flex justify-content-evenly p-3" >
            <div class="flex-column">
                <div class="activity mt-4">
                    <span><h4><b>activity:</b></h4></span>
                </div>
                <div class="website mt-4" *ngIf="_apiview.website">
                    <span><h4><b>website:</b></h4></span>
                </div>
                <div class="participants mt-4">
                    <span><h4><b>participants:</b></h4></span>
                </div>
                <div class="type mt-4">
                    <span><h4><b>type:</b></h4></span>
                </div>
            </div>

            <div class="flex-column">
                <div class="activity mt-4">
                    <span><h4>{{ _apiview.activity}}</h4></span>
                </div>
                <div class="website mt-4" *ngIf="_apiview.website">
                    <span><h4>{{ _apiview.website}}</h4></span>
                </div>
                <div class="participants mt-4">
                    <span><h4>{{ _apiview.participants}}</h4></span>
                </div>
                <div class="type mt-4">
                    <span><h4>{{ _apiview.type}}</h4></span>
                </div>
            </div>
        </div>
    </ng-container>
</div>


