<div class="container">
    <div class="d-flex justify-content-center shadow-lg p-3 mb-5 bg-body rounded">
        <div class="select text-center mt-5">
            <h3></h3>
            <select class="form-select mt-4" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <div class="btn mt-5">
                <button class="btn btn-secondary btn-lg">click</button>
            </div>
            
        </div>
    </div>
</div>
